@mixin translateY($y){
  -ms-transform: translateY($y); /* IE 9 */
  -webkit-transform: translateY($y); /* Chrome, Safari, Opera */
  transform: translateY($y);
}

@mixin translateX($x){
  -ms-transform: translateX($x); /* IE 9 */
  -webkit-transform: translateX($x); /* Chrome, Safari, Opera */
  transform: translateX($x);
}

@mixin translateXY($x, $y){
  -ms-transform: translate($x, $y); /* IE 9 */
  -webkit-transform: translate($x, $y); /* Chrome, Safari, Opera */
  transform: translate($x, $y);
}

@mixin box-shadow($box-shadow){
  -webkit-box-shadow: $box-shadow; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: $box-shadow; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

@mixin display-flex(){
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

@mixin flex-wrap(){
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
  -webkit-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
  -webkit-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin awesome-img($class : ".img"){
    #{$class} {
      transition: $transition;
      //opacity: 0;
      transform: scale(0.98, 0.98);
      &.opacity-show {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
    &:hover {
      #{$class} {
        transform: scale(1.03);
      }
    }
}

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 991px;
$screen-lg: 1200px;

@mixin xs(){
  @media (max-width: $screen-xs){
    @content;
  }
}

@mixin sm(){
  @media (max-width: $screen-sm){
    @content;
  }
}

@mixin md(){
  @media (max-width: $screen-md){
    @content;
  }
}

@mixin lg(){
  @media (max-width: $screen-lg){
    @content;
  }
}