//TRANSITION
$transition-time: 0.2s;
$transition: $transition-time all ease;
//FONTS
$font-family: 'Raleway', sans-serif;

//BACKGROUNDS
$nav-background: rgba(0,0,0,0.8);

//COLORS

$accent: #D32F2F;
$accent-hover: #991900;
$menu-item-hover:rgba(0,0,0,0.9);
$text-color:#333;